xbook-frontend/node_modules/
xbook-frontend/build/


xbook-backend/venv/

*.pyc
xbook-backend/__pycache__/

xbook-backend/instance/

xbook-backend/.pytest_cache/
xbook-backend/.coverage
xbook-backend/htmlcov/

xbook-backend/dist/
xbook-backend/build/
xbook-backend/*.egg-info/
