input[type='text'].username {
  background-color: #000;
  border: 0px;
  color: #fff;
  font-family: 'Roboto', monospace;
  font-size: 16px;
}

input[type='password'] {
  &.password, &.repassword {
    background-color: #000;
    color: #000;
    border: 0px;
  }
}

.hidden {
  display: none;
}
